Package: com.assistantplus.spotifycontrols
Name: spotifySiriControls
Depends: mobilesubstrate, com.zaid.assistant+
Architecture: iphoneos-arm
Description: Control Spotify using Siri! Currently spotifySiriControls supports searching for tracks, artists, and albums using commands like, “Search for Drake on Spotify”, “Search Taylor Swift on Spotify”, “Play Books by Swiss Lips on Spotify”, and “Play Paris on Spotify”.
Maintainer: Zaid Elkurdi
Author: Zaid Elkurdi
Section: Tweaks
Version: 1.0.0-1
Installed-Size: 616
